.orange {
      background-color: gold;
      border-color: orange;
    }
/*body {
  font-family:  purisa, 'comic sans', cursive;
}

.vis-timeline {
  border: 2px solid purple;
  font-family:  purisa, 'comic sans', cursive;
  font-size: 12pt;
  background: #ffecea;
}

.vis-item {
  border-color: #F991A3;
  background-color: pink;
  font-size: 15pt;
  color: purple;
  box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
}

.vis-item,
.vis-item.vis-line {
  border-width: 3px;
}

.vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px;
}

.vis-item.vis-selected {
  border-color: green;
  background-color: lightgreen;
}

.vis-time-axis .vis-text {
  color: purple;
  padding-top: 10px;
  padding-left: 10px;
}

.vis-time-axis .vis-text.vis-major {
  font-weight: bold;
}

.vis-time-axis .vis-grid.vis-minor {
  border-width: 2px;
  border-color: pink;
}

.vis-time-axis .vis-grid.vis-major {
  border-width: 2px;
  border-color: #F991A3;
}*/