
{% extends "base.html" %}

{% block main %}
	<link rel="stylesheet" href="/static/css/style.css">
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.time.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.navigate.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.selection.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.shift.js"></script>
	<script language="javascript" type="text/javascript" src="/static/scripts/LinkedLine.js"></script>
	<script type="text/javascript">

	</script>
<!-- <body> -->

	<div id="header">
		<h2>Title Here</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		<div class="demo-container" style="height:150px;">
			<div id="overview" class="demo-placeholder"></div>
		</div>

	</div>

{% endblock %}
<!-- </body>
</html> -->
