<!--  Author: Emma Marriott, Baris Ungun. sections are marked below with author indicated -->
<!--  Description: 
			-This page contains placeholders for the medications timeline;
			-After loading, the page requests medication data (demo case) from the flask web server
			-After loading, the page calls a timeline creation method from Medication.js
			-The page also contains a placeholder for a bootstrap.js interactive walkthrough
 -->

	<!-- PAGE STRUCTURE - Author: EM -->


{% extends "base.html" %}

{% block css %}
	<link href="/static/css/bootstrap-tour.min.css" rel="stylesheet">
{% endblock %}

{% block main %}

	<!-- dependencies -->

	<link rel="stylesheet" href="/static/css/style.css">

	<!-- flot.js main plotting library and plugins -->

	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.time.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.navigate.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.selection.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.fillbetween.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.crosshair.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.symbol.js"></script>

	<!-- custom flot plugin -->
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.shift.js"></script>


	<!-- required by Medication.js for array copying -->
	<script language="javascript" type="text/javascript" src="/static/js/deepCopy.js"></script>

	<!-- bootstrap walkthrough -->
	<script language="javascript" type="text/javascript" src="/static/js/bootstrap-tour.min.js"></script>

	<!-- custom js libraries -->
	<script language="javascript" type="text/javascript" src="/static/scripts/Medication.js"></script>
	<script language="javascript" type="text/javascript" src="/static/scripts/MedTour.js"></script>

	<!-- walkthrough -->
	<div id="ghost-navbar" align="right"></div>

	<div class='tour-backdrop jumbotron' style='opacity: 0.9' id='demo-start-page'>
		<h1>Welcome</h1>
		<p>This is the redesigned medical record interface</p> 
		<p>This patient visualization for medications has been specially designed to display and explore patterns in an individual's prescription history. </p> 
		<p> We assembled a quick demo to help you get started with the tools and features of our visualization. </p> 
		<p>Let's begin now!</p> </br> 
		<p>
			<button class='btn btn-primary btn-lg' onclick='initMedTour();'>Start Tour</button> 
			<span data-role='separator'> 
			<button class='btn btn-primary btn-lg' onclick='$("#demo-start-page").fadeOut(200);'> No Thanks! </button>
		</p>
	</div>

	<!-- timeline -->
	<div id="content">
		<div id="tooltip-replacement" class="well" style="font-size:1.6rem;"></div>

		<div class="demo-container">
			<div id="med_plot_target" class="demo-placeholder"></div>
		</div>

		<div class="demo-container" style="height:120px;">
			<div id="med_nav_target" class="demo-placeholder"></div>
		</div>

	</div>


	<script>
		// global variable medData, expected by Med.js 
		var medData;

		window.onload = function(){
			console.log("Loading");

			// ----------------------------------------
			// load medication data and create timeline
			// ----------------------------------------


			// jQuery AJAX call with anonymous function callback
			$.getJSON( "/_medications/", function(result) {
				
				// load data from the flask web server
				medData = result['medication_data']

				// call Med.js library timeline creation methods in sequence
				Med.transferData();
				Med.formAllSeries();
				Med.buildDataset();
				Med.plotMeds()
			});
		}
	</script>

{% endblock %}

