
{% extends "base.html" %}

{% block css %}
	<link href="/static/css/bootstrap-tour.min.css" rel="stylesheet">
{% endblock %}

{% block main %}
	<link rel="stylesheet" href="/static/css/style.css">
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.time.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.navigate.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.selection.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.shift.js"></script>
	<script language="javascript" type="text/javascript" src="/static/scripts/Note.js"></script>
	<script language="javascript" type="text/javascript" src="/static/bower_components/webcomponentsjs/webcomponents.js"></script>
	<link href="/static/bower_components/paper-dialog/paper-dialog.html" rel="import">
	<script language="javascript" type="text/javascript" src="/static/js/bootstrap-tour.min.js"></script>
	<script language="javascript" type="text/javascript" src="/static/scripts/NoteTour.js"></script>


	<div class='tour-backdrop jumbotron' style='opacity: 0.9' id='demo-start-page'>
		<h1>Welcome</h1>
		<p>This is the redesigned medical record interface</p> 
		<p>This patient visualization for medical notes has been specially designed to display and explore patterns in an individual's health history. </p> 
		<p> We assembled a quick demo to help you get started with the tools and features of our visualization. </p> 
		<p>Let's begin now!</p> </br> 
		<p>
			<button class='btn btn-primary btn-lg' onclick='initNoteTour();'>Start Tour</button> 
			<span data-role='separator'> 
			<button class='btn btn-primary btn-lg' onclick='$("#demo-start-page").fadeOut(200);'> No Thanks! </button>
		</p>
	</div>

	<div class="container-fluid" id="note-timeline" align="center">

		<div horizontal layout id="choices" class="well"></div>

		<div class="demo-container">
			<div id="note_plot_target" class="demo-placeholder"></div>
		</div>

		<div class="demo-container" style="height:120px;">
			<div id="note_nav_target" class="demo-placeholder"></div>
		</div>

	</div>

	<paper-dialog id="note_detail" heading="Title" class="scrolling" backdrop layered="false">
		<p></p>
    </paper-dialog>

    <style>
    
    html /deep/ #note_detail::shadow #scroller {
      width: 1200px;
      height: 600px;
    }

    </style>

	<script>
		var med_timeline;
		var note_timeline;
		var notes_by_date;
		var med_display_indices;
		var med_display_names;
		var noteSeries, notePreviews;

		window.onload = function(){			
			// ----------------------------------
			// load note data and create timeline
			// ----------------------------------

			$.getJSON( "/_notes/", function(result) {
				notePreviews = result['previewData']
				noteSeries = result['plottingSeries']
				minDate = result['minDate']
				maxDate = result['maxDate']
				hospitalStays = result['hospitalizations']
				createNoteTimeline(noteSeries, hospitalStays, minDate, maxDate);
			});
		}
	</script>

{% endblock %}
