{% extends "base.html" %}

<!-- styling specific to timeline here -->
{% block css %}
<link href="/static/css/vis.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<!-- <link rel="stylesheet" href="/static/css/style.css"> -->
{% endblock %}

<!-- Html for timeline here -->
{% block main %}
<script src = "//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<div class="container-fluid">
	<p>
	  Select item(s): <input type="text" id="note_selection" value="1, 2"><input type="button" id="note_select" value="Select"><br>
	</p>
	<div id="note_visualization">
		<div class="menu">
	        <input type="button" id="note_zoomIn" value="Zoom in"/>
	        <input type="button" id="note_zoomOut" value="Zoom out"/>
	        <input type="button" id="note_moveLeft" value="Move left"/>
	        <input type="button" id="note_moveRight" value="Move right"/>
    	</div>
	</div>
	<p>
	  Select item(s): <input type="text" id="med_selection" value="1, 2"><input type="button" id="med_select" value="Select"><br>
	</p>
	<div id="med_visualization">
		<div class="menu">
	        <input type="button" id="med_zoomIn" value="Zoom in"/>
	        <input type="button" id="med_zoomOut" value="Zoom out"/>
	        <input type="button" id="med_moveLeft" value="Move left"/>
	        <input type="button" id="med_moveRight" value="Move right"/>
    	</div>
	</div>
	
</div>

<style>
  label {
    display: inline-block;
    width: 5em;
  }
</style>
<!-- Custom javascript for timeline manipulation -->
<script>
	var med_timeline;
	var note_timeline;
	var notes_by_date;
	var med_display_indices;
	var med_display_names;
	var noteSeries, notePreviews;

	window.onload = function(){
		console.log("Loading");
		addMedEventListeners();


		// ----------------------------------------
		// load medication data and create timeline
		// ----------------------------------------
		$.getJSON( "/_medications/", function(result) {
			medEvents = result['medication_data'];
			minDate = result['minDate'];
			med_display_indices = result['med_indices']
			med_display_names = result['med_names']
			var medDataArray = [];
			for (var i in medEvents){
				var medEvent = {
					id: i,
					group: medEvents[i].display_group,
					content: '<a href="#" title="' + medEvents[i].name + '"></a>',
					// title = "put text for tooltip here", what goes between > < is what you want shown on the timeline
					className: 'orange',
					start: medEvents[i].start,
					end: medEvents[i].end,
					//subgroup: <- fill in subgroup
				}
				medDataArray.push(medEvent);
			}
			createMedicationTimeline(medDataArray, minDate);
		});

		// ----------------------------------
		// load note data and create timeline
		// ----------------------------------

		$.getJSON( "/_notes/", function(result) {
			notePreviews = result['previewData']
			console.log(notePreviews)
			noteSeries = result['plottingSeries']
			minDate = result['minDate']
			maxDate = result['maxDate']
			hospitalStays = result['hospitalizations']
			createNoteTimeline(noteSeries, hospitalStays, minDate, maxDate);
		});

	}

	


</script>

{% endblock %}