{% extends "base.html" %}

<!-- styling specific to timeline here -->
{% block css %}
<link href="/static/css/vis.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

<!-- Html for timeline here -->
{% block main %}
<div class="container-fluid">
	<p>
	  Select item(s): <input type="text" id="med_selection" value="1, 2"><input type="button" id="med_select" value="Select"><br>
	  <label><input type="checkbox" id="med_focus" checked> Focus on selection</label>
	</p>
	<div id="med_visualization">
		<div class="menu">
	        <input type="button" id="zoomIn" value="Zoom in"/>
	        <input type="button" id="zoomOut" value="Zoom out"/>
	        <input type="button" id="moveLeft" value="Move left"/>
	        <input type="button" id="moveRight" value="Move right"/>
    	</div>
	</div>
	<p>
	  Select item(s): <input type="text" id="note_selection" value="1, 2"><input type="button" id="note_select" value="Select"><br>
	  <label><input type="checkbox" id="note_focus" checked> Focus on selection</label>
	</p>
	<div id="note_visualization">
		<p>Note visualization placeholder</p>
	</div>
</div>

<!-- Custom javascript for timeline manipulation -->
<script>
	var med_timeline;
	var note_timeline;

    function addEventListeners() {
    	// attach events to the navigation buttons
	    document.getElementById('zoomIn').onclick    = function () { zoom(-0.2); };
	    document.getElementById('zoomOut').onclick   = function () { zoom( 0.2); };
	    document.getElementById('moveLeft').onclick  = function () { move( 0.2); };
	    document.getElementById('moveRight').onclick = function () { move(-0.2); };

	    /**
	     *Select + move window dynamically to view selections
	    */
	    var med_selection = document.getElementById('med_selection');
		var med_select = document.getElementById('med_select');
		var med_focus = document.getElementById('med_focus');

		med_select.onclick = function () {
			var ids = med_selection.value.split(',').map(function (value) {
			  return value.trim();
			});
			med_timeline.setSelection(ids, {focus: med_focus.checked});
		};

	    var note_selection = document.getElementById('note_selection');
		var note_select = document.getElementById('note_select');
		var note_focus = document.getElementById('note_focus');

		med_select.onclick = function () {
			var ids = note_selection.value.split(',').map(function (value) {
			  return value.trim();
			});
			note_timeline.setSelection(ids, {focus: note_focus.checked});
		};

    }

	window.onload = function(){
		console.log("Loading");
		addEventListeners();
		$.getJSON( "/_medications/", function(result) {
			medEvents = result['medication_data']
			minDate = result['minDate']
			var medDataArray = []
			for (var i in medEvents){
				var medEvent = {
					id: i,
					group: i%3,
					content: medEvents[i].name,
					start: medEvents[i].start,
					end: medEvents[i].end,
				}
				medDataArray.push(medEvent);
			}
			createMedicationTimeline(medDataArray, minDate);
		});
	}

	

	/**
     * Move the timeline a given percentage to left or right
     * @param {Number} percentage   For example 0.1 (left) or -0.1 (right)
     */
    function move (percentage) {
        var range = med_timeline.getWindow();
        var interval = range.end - range.start;

        med_timeline.setWindow({
            start: range.start.valueOf() - interval * percentage,
            end:   range.end.valueOf()   - interval * percentage
        });
    }

    /**
     * Zoom the timeline a given percentage in or out
     * @param {Number} percentage   For example 0.1 (zoom out) or -0.1 (zoom in)
     */
    function zoom (percentage) {
        var range = med_timeline.getWindow();
        var interval = range.end - range.start;

        med_timeline.setWindow({
            start: range.start.valueOf() - interval * percentage,
            end:   range.end.valueOf()   + interval * percentage
        });
    }

</script>

{% endblock %}